@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*{
    padding:0;
    margin:0;
}


body{
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.menu{
    position: fixed;
    width: 100%;
    z-index: 100;
    background: black;
    color:white;
    display:grid;
    grid-template-columns:20% auto;
    line-height:4em;
    box-shadow:0 5px 10px rgb(44, 44, 44);
}

.menu1{
    position: fixed;
    width: 100%;
    z-index: 100;
    background: rgba(0,0,0,0);
    color:black;
    display:grid;
    grid-template-columns:20% auto;
    line-height:4em;
    /* box-shadow:0 5px 10px rgb(44, 44, 44); */
}

.menu1 .menu-items ul li{
    font-weight: 700;
}

.menu1 .menu-items ul li:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}

ul{
    list-style:none;
    text-align:center;
}

.menu ul li{
    margin:0;
    display:inline-block;
    padding:0 20px;
    transition: all 0.5s;
    font-weight: 700
}

.menu1 ul li{
    margin:0;
    display:inline-block;
    padding:0 20px;
    
    
}

.menu .menu-items  ul li:hover{
    background:white;
    color:black;
    cursor:pointer;
}

.menu-items{
    display:flex;
    justify-content:flex-end;
}

.menu1 .logo{
    padding-left:20px;
    font-size:30px;
    font-weight: 700;
}

.menu .logo{
    padding-left:20px;
    font-size:30px; 
}

.jumbotron{
    z-index: -1;
    text-align: center;
    height: 100vh;
    background: url('./img/back.jpeg');
    background-size: cover;
}

.jumbotron button{
    z-index: 99;
    background: transparent;
    border-style: none;
    font-size: 1.2rem;
    border: 2px solid black;
    padding:10px;
    transition: all 0.5s;
}

.jumbotron button:hover{
    background: white;
    transform: translateY(-5px);
    box-shadow: 0px 2px 10px black;
    border: none;
}

.jumbotron button:visited{
    outline:none;
}

.jumbotron button:active{
    transform: translateY(2px);
}


.container{
    position: absolute;
    width: 100%;
    display: flex;
    padding:30px 0;
    align-items: center;
    justify-content: center;
}

.jumbotron-content{
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* width: 100%; */
}

.jumbotron-flex{
    flex:1;
}


.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(7, 72, 137, 0.3);
}

.more{
    position: relative;
    width: 100%;
    top: 45vh;
    font-size: 30px;
}

.more i:hover{
    color:white;
    cursor: pointer;
}

.hamburger-menu{
    display: none;
}


.features{
    height: 100vh;
}

.mobile-menu{
    display: none;
}

@media only screen and (max-width: 722px) {
    .menu-items{
        display: none;
    }

    .menu1{
        display: grid;
        grid-template-columns:20% auto;
        text-align: center;
        
    }

    .menu{
        display: grid;
        grid-template-columns:20% auto;
        text-align: center;
    }

    .hamburger-menu{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px; 
    }
.hamburger-menu-animation{
        animation: fadeMenu 1s linear;
    }

    .hamburger-menu:hover{
        color:whitesmoke;
    }

    .menu1 .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 20%;
    }

    .menu .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 20%;
    }

    @keyframes fadeMenu {
        from{
            transform: scale(1);
        }

        to{
            transform: scale(1.2);
        }
    }


    .mobile-menu {
        font-family: 'Raleway', sans-serif;
        position: fixed;
        height: 100vh;
        width: 60%;
        background: rgb(31, 31, 31);
        z-index:101;
        box-shadow: 10px 0 30px rgba(0, 0, 0, 0.63);
        transform: translateX(0);
    }

    .show-mobile-menu{
        display: block;
    }

    .hide-mobile-menu{
        display: none;
    }

    @keyframes show-hamburger-menu{
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    @keyframes hide-hamburger-menu{
        0%{
            transform: translateX(0%);
        }
        100%{
            transform: translateX(-100%);
        }
    }

    
    .mymenu{
        color:white;
    }

    .mymenu li{
        cursor: pointer;
        padding: 20px 0;
    }

    .mymenu li:hover{
        background: gray;
    }
    
    .back{
        color:white;   
        font-size: 30px;
        padding-left: 10px; 
        padding-top:10px;   
    }

    .close{
        cursor: pointer;
    }
}

